$global-border: 1px solid red;
$global-white: #fff;



.container{
    width: 1440px;
    height: 100px;
    margin: 0px auto;
    .navigation{
        display: flex;
        .nav__logo{
            margin-left: 54px;
            display: flex;
            align-items: center;
            margin-top: 12px;
        }
        .nav__ul ul{
            display: flex;
            gap: 75px;
            margin-left: 280px;
            margin-top: 38px;
            li{
                list-style: none;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: #000;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
        .navigation__icon{
            margin-left: 140px;
            .navigation__icon__img{
                width: 23px;
                height: 23px;
                // gap: 45px;
                margin-left: 45px;
                margin-top: 33px;
            }
        }
    }
    .main_card{
        background: url(./images/bacgroun-img_main.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 1440px;
        height: 716px;
        position: relative;
        .main_card__text{
            position: absolute;
            top: 163px;
            left: 739px;
            width: 643px;
            height: 443px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #FFF3E3;
            .main_card__text__p{
                color: #333333;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 3px;
                margin-top: 62px;
                margin-left: 41px;
            }
            .main_card__text__h2{
                width: 559px;
                height: 127px;
                flex-shrink: 0;
                color: #B88E2F;
                font-family: Poppins;
                font-size: 52px;
                font-style: normal;
                font-weight: 700;
                line-height: 65px; /* 125% */
                margin-top: 4px;
                margin-left: 41px;
            }
            .main_card__text__paragraf{
                width: 546px;
                height: 52px;
                flex-shrink: 0;
                color: #333333;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 133.333% */
                margin-top: 17px;
                margin-left: 41px;
            }
            .main_card__text__btn{
                color: #FFF;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                display: inline-flex;
                padding: 25px 72px;
                align-items: flex-start;
                gap: 10px;
                background-color: #B88E2F;
                border: none;
                margin-top: 16px;
                margin-left: 41px;
            }
        }
    }
    .browser{
        color: #333333;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .browser_p{
        color: #666666;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .card1_img{
        width: 381px;
        height: 480px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #F2F5FF;
    }
    .card1_h2{
        color: #333333;
        margin-left: 150px;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .card1{
        width: 411px;
        margin-top: 10px;
    }

    .card2_img{
        width: 381px;
        height: 480px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #F2F5FF;
    }
    .card2_h2{
        color: #333333;
        margin-left: 150px;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .card2{
        width: 411px;
        margin-top: 10px;
    }

    .card3_img{
        width: 381px;
        height: 480px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #F2F5FF;
    }
    .card3_h2{
        color: #333333;
        margin-left: 150px;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .card3{
        width: 411px;
        margin-top: 10px;
    }
    .mask_group_card{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}